<h1><%= I18n.t('views.headers.edit', model: I18n.t('activerecord.models.outflow.one') ) %></h1>

<%= render 'form', outflow: @outflow %>

<%= link_to I18n.t('helpers.buttons.show'), @outflow %> |
<%= link_to I18n.t('helpers.buttons.back'), outflows_path %>
