<% if notice %>
  <div class="row">
    <div class="alert alert-dismissible alert-<%= notice['html_class'] %> col-xl-6 center-aligned-text" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h5><p id="notice"><%= notice['message'] %></p></h5>
    </div>
  </div>
<% end %>