<div class="container-fluid">
  <div class="row mt-2 mb-1">
    <div class="col-12">
      <h2><%= I18n.t('prices_calculator.header') %></h2>
    </div>
  </div>

  <div class="row mt-1 mb-1">
    <div class="col-12">

    </div>
  </div>

</div>