<h1><%= I18n.t('views.headers.edit', model: I18n.t('activerecord.models.supply.one') ) %></h1>

<%= render 'form', supply: @supply %>

<%= link_to I18n.t('helpers.buttons.show'), @supply %> |
<%= link_to I18n.t('helpers.buttons.back'), supplies_path %>