<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<h2><%= I18n.t('helpers.links.new_supply_product_link') %></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%= render 'form', supply_product_link: @supply_product_link %>
		</div>
	</div>
	<br>

</div>

<script type="text/javascript">
  <%= render "shared/select2.js" %>
</script>