<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<h1><%= I18n.t('helpers.links.new_supply_product_link') %></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%= render 'form', supply_product_link: @supply_product_link %>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-3">
			<button type="button" class="btn btn-outline-primary">
				<%= link_to I18n.t('helpers.buttons.back'), supply_product_links_path %>
			</button>
		</div>
	</div>

</div>

<script type="text/javascript">
  <%= render "javascript.js" %>
</script>