<h1><%= I18n.t('helpers.links.new_supply_product_link') %></h1>

<%= render 'form', supply_product_link: @supply_product_link %>

<%= link_to I18n.t('helpers.buttons.back'), supply_product_links_path %>