<div class="nested-fields">
	<fieldset>
	  <div class="row">
	    <div class="col-4">
		    <%= f.input :quantity %>
		  </div>
		  <div class="col-4 span2" id="foo">
		    <%= f.input :product_id, 	collection: @products,
		    													value_method: :id,
		    													label_method: :name,
		    													prompt: I18n.t('simple_form.prompts.defaults.product'),
		    													input_html: { id: "pepe", class: 'span3' }
		    													%>
		  </div>
		  <div class="col-4">
		  	<button type="button" class="btn btn-outline-primary btn-sm btn-center">
		  		<%= link_to_remove_association I18n.t('helpers.buttons.remove'), f %>
		  	</button>
		  </div>
		</div>
	</fieldset>
</div>