<div class="container-fluid">
  <div class="fields">
    <fieldset>
      <div class="row inflow-item">
        <div class="col-3">
          <div class="field quantity-input">
            <%= f.input :quantity %>
          </div>
        </div>
        <div class="col-3">
          <div class="field product-id-input">
            <%= f.input :product_id, collection: @products %>
          </div>
        </div>
        <div class="col-3 mt-5">
          subtotal
        </div>
        <!-- <div class="col-3">
          <%# Boton destroy  %>
        </div> -->
      </div>
    </fieldset>
  </div>
</div>