<div class="container-fluid">
  <div class="fields">
    <fieldset>
      <div class="row">
        <div class="col-4">
          <div class="field">
            <%= f.input :quantity %>
          </div>
        </div>
        <div class="col-4">
          <div class="field">
            <%= f.input :product_id, collection: @products %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>