<h1> <%=I18n.t('views.headers.edit', model: I18n.t('activerecord.models.inflow.one') )%> </h1>

<%= render 'form', inflow: @inflow %>

<%= link_to I18n.t('helpers.buttons.show'), @inflow %> |
<%= link_to I18n.t('helpers.buttons.back'), inflows_path %>
