<div class="container-fluid">
  <div class="fields">
    <fieldset>
      <div class="row">
        <div class="col-6">
          <div class="field">
            <%= f.input :stock, input_html:{ name: "product[mass_stock][#{number}][stock]", id: "product_mass_stock_#{number}_stock" }  %>
          </div>
        </div>
        <div class="col-6">
          <div class="field">
            <%= f.input :product_id, input_html:{ name: "product[mass_stock][#{number}][product_id]", id: "product_mass_stock_#{number}_product_id" } %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>