<%= simple_form_for(@product, html: { class: 'form-vertical' }) do |f| %>

<div class="row">
	<div class="col-4">
	  <%= f.input :name %>
	</div>

	<div class="col-4">
	  <%= f.input :product_id %>
	</div>

</div>

<% end %>
